* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.color {
  color: #06c167;
  color: #000000;
  color: #ffffff;
  color: #f7f7f7;
  color: #ff6b06;
  color: #de1a2f;
  color: #333333;
  color: #666666;
}

.header {
  font-weight: 800;
}

.p {
  font-weight: 500;
}