* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.color {
  color: #06c167;
  color: #000000;
  color: #ffffff;
  color: #f7f7f7;
  color: #ff6b06;
  color: #de1a2f;
  color: #333333;
  color: #666666;
}

.header {
  font-weight: 800;
}

.p {
  font-weight: 500;
}








.animation {
  position: relative;
  display: inline-block;
}

.animation span {
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease;
}

.animation span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #06c167;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  transform-origin: bottom right;
}

.animation span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #06c167;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  transform-origin: top right;
}

.animation:hover span:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.animation:hover span:after {
  transform: scaleX(1);
  transform-origin: top left;
}
