* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 15px;
  border-left: 5px solid black;
}

::-webkit-scrollbar-track {
  background: #222222;
  border-left: 5px solid #000000;
}

::-webkit-scrollbar-thumb {
  background: #06c167;
  border-left: 5px solid #000000;
}